.about {
  display: flex;
  flex-wrap: wrap;
}

.about__column {
  flex: 1 1 0;

  &--l {
    background-color: $gray;
    flex: 1 1 0;
    max-width: 49%;
    min-width: 0;
    word-break: break-word;
    padding: 151px 9% 180px 10.2%;
  }

  &--r {
    max-width: 51%;
  }

  @media (max-width: $large) {
    min-width: 500px;
    max-width: 100%;

    &--l {
      padding: 110px 8% 90px 8.2%;
    }
  }

  @media (max-width: $medium) {
    min-width: 100%;

    &--l {
      padding: 70px 9% 69px 9.2%;
    }
  }

  @media (max-width: $small) {
    &--l {
      padding: 51px 9% 58px 9.2%;
    }

    &--r {
      max-height: 282px;
    }
  }
}

.about__heading {
  margin-top: 0;
  margin-bottom: 53px;

  @media (max-width: $medium) {
    margin-bottom: 40px;
  }

  @media (max-width: $small) {
    margin-bottom: 27px;
  }
}

.about__text {
  font-family: $roboto;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: $white;
  margin-top: 0;
  text-align: center;
  margin-bottom: 55px;

  @media (max-width: $large) {
    font-size: 22px;
    line-height: 36px;
  }

  @media (max-width: $medium) {
    font-size: 19px;
    line-height: 31px;
  }

  @media (max-width: $small) {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 32px;
  }
}

.about__excerpt {
  font-family: $roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  display: block;
  width: 192px;
  border: 1px solid $white;
  color: $white;
  background-color: transparent;
  text-align: center;
  padding: 11px 51px;
  margin: 0 auto;
  text-transform: uppercase;
}

.about__img {
  object-fit: cover;
  height: 100%;
}
