.callback__container-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: 0 19.2% 0 19.56%;
  margin-bottom: 40px;

  @media (max-width: $large) {
    padding: 0 16.2% 0 16.56%;
  }

  @media (max-width: $medium) {
    flex-direction: column;
    padding: 0;
  }

  @media (max-width: $small) {
    padding: 0 17px;
    margin-bottom: 26px;
  }
}

.callback__container-inp {
  position: relative;
  flex: 0 0 47%;

  &:first-child {
    margin-right: 0.7%;
  }

  @media (max-width: $medium) {
    flex-basis: auto;
    flex-grow: 1;
    margin-bottom: 30px;

    &:first-child {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $small) {
    margin-bottom: 19px;
  }
}

.callback__svg {
  position: absolute;
  fill: $graphite;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.callback__inp {
  font-family: $roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px; //1.7
  letter-spacing: 1px;
  color: $dark-dray;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $graphite;
  padding-bottom: 12px;
  padding-left: 38px;
  width: 100%;
  padding-top: 10px;

  &:hover,
  &:focus {
    outline: none;
    border-bottom: 1px solid $gold;
  }

  &:focus + .callback__svg {
    fill: $gold;
    transform: scale(1.1) translateY(-50%);
    transition: transform 300ms ease-in;
  }
}

.callback__container-check {
  text-align: center;
  margin-bottom: 27px;

  @media (max-width: $small) {
    text-align: left;
    margin-bottom: 7px;
    padding: 0 17px;
  }
}

.callback__check-label {
  font-family: $roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 28px; //2.3
  letter-spacing: 0.5px;
  color: $puce;
  position: relative;
  padding-left: 41px;

  &::before {
    @include pseudo();
    @include square(25px);
    background-color: transparent;
    border: 2px solid $pale-gold;
    left: 0;
    transition: background-color 300ms ease-in 100ms;
  }

  input:checked + &::before {
    background-color: $pale-gold;
  }

  input:checked + &::after {
    @include pseudo();
    @include size(14px, 10px);
    background-image: url("../img/check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    left: 6px;
    top: 0;
    animation: check 700ms ease-in;
  }

  @media (max-width: $small) {
    line-height: 16px;
    display: block;
    padding-top: 3px;
    padding-bottom: 10px;

    &::before {
      top: 6px;
    }

    input:checked + &::after {
      top: 14px;
    }
  }
}

.callback__btn {
  font-family: $roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px; //2.1
  text-align: center;
  text-transform: uppercase;
  color: $brown-gray;
  width: 206px;
  border: 1px solid $gold;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 10px;

  &:hover,
  &:focus {
    transition: box-shadow 0.6s ease-in,
      color 0.3s ease-in 0.3s;
    box-shadow: inset 206px 0 0 0 $gold;
    color: white;
    outline: none;
  }

  @media (max-width: $large) {
    font-size: 13px;
    line-height: 30px;
  }
}
