.container {
  max-width: $giant;
  min-width: $tiny;
  margin: 0 auto;

  &--big {
    padding: 0 1.56%;
  }

  &--middle,
  &--header {
    padding: 0 4.95%;
  }

  &--small {
    padding: 0 10.26%;
  }

  &--null {
    padding: 0;
  }

  @media (max-width: $medium) {
    &--header {
      padding: 0;
    }
  }

  @media (max-width: $small) {
    padding: 0 7%;

    &--header {
      padding: 0;
    }
  }
}
