.contacts {
  background-color: $bright-gray;
}

.contacts__top {
  padding-top: 91px;
  padding-bottom: 67px;

  @media (max-width: $large) {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  @media (max-width: $medium) {
    padding-top: 55px;
    padding-bottom: 40px;
  }

  @media (max-width: $small) {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

.contacts__heading {
  margin-top: 0;
  margin-bottom: 41px;

  @media (max-width: $small) {
    margin-bottom: 26px;
  }
}

.contacts__bottom {
  background-image: url("../img/map.jpg");
  min-height: 553px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map@2x.jpg");
  }
}

.contacts__info {
  width: 291px;
  background-color: $white;
  padding: 39px 57px 45px;
  position: absolute;
  right: 25.5%;
  top: 134px;
  box-shadow: 4px 4px 20px rgba($black, 0.1);

  @media (max-width: $medium) {
    right: 15.5%;
    top: 200px;
  }

  @media (max-width: $small) {
    width: 85.9%;
    padding-left: 13.7%;
    padding-right: 13.7%;
    left: 50%;
    transform: translateX(-50%);
    top: 361px;
    padding-bottom: 45px;
  }
}

.contacts__address {
  text-align: center;
  padding-bottom: 29px;
  position: relative;

  &::after {
    @include pseudo();
    @include size(84px, 1px);
    background-color: $pure-gold;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.contacts__text {
  font-family: $roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px; //1.7
  letter-spacing: 1px;
  color: $puce;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;

  @media (max-width: $small) {
    margin-bottom: 24px;
  }
}

.contacts__city {
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px; //1.7
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $black;
  margin-top: 0;
  margin-bottom: 5px;

  @media (max-width: $small) {
    margin-bottom: 15px;
  }
}

.contacts__tel {
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px; //1.2
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $pure-gold;

  &:hover,
  &:focus {
    outline: none;
    color: $bright-gold;
  }
}

.contacts__socials {
  margin: 27px 20px 0;

  @media (max-width: $small) {
    margin: 27px 22% 0;
  }
}
