.container {
  max-width: $giant;
  min-width: $small;
  margin: 0 auto;

  &--big {
    padding: 0 1.56%;
    //padding: 0 30px;
  }

  &--middle {
    padding: 0 4.95%;
    //padding: 0 95px;
  }

  &--small {
    padding: 0 10.26%;
    //padding: 0 197px;
  }

  &--null {
    padding: 0;
  }
}
