
.directions__heading {
  margin-top: 0;
  margin-bottom: 61px;
  margin-left: 14px;
}

.directions__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.directions__item {
  list-style: none;
  background-image: linear-gradient(0deg, rgba(19, 18, 23, 0.82) 10.67%, rgba(19, 18, 23, 0) 63.44%),
  linear-gradient(0deg, rgba(19, 18, 23, 0.3), rgba(19, 18, 23, 0.3)),
  url("../img/architecture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 642px;
  position: relative;

  &:first-child {
    flex: 0 0 49.6%;

    &:hover {
      background-image: linear-gradient(0deg, rgba(19, 18, 23, 0.52) 10.67%, rgba(19, 18, 23, 0) 33.44%),
      linear-gradient(0deg, rgba(19, 18, 23, 0.3), rgba(19, 18, 23, 0.2)),
      url("../img/architecture.jpg");
    }
  }

  &:last-child {
    flex: 0 0 48.84%;
    background-image: linear-gradient(0deg, rgba(19, 18, 23, 0.82) 10.67%, rgba(19, 18, 23, 0) 63.44%),
    linear-gradient(0deg, rgba(19, 18, 23, 0.3), rgba(19, 18, 23, 0.3)),
    url("../img/designer.jpg");

    &:hover {
      background-image: linear-gradient(0deg, rgba(19, 18, 23, 0.52) 10.67%, rgba(19, 18, 23, 0) 33.44%),
      linear-gradient(0deg, rgba(19, 18, 23, 0.3), rgba(19, 18, 23, 0.2)),
      url("../img/designer.jpg");
    }
  }
}

.directions__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.directions__name {
  font-family: $cg;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 46px; ////1.2
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
  position: relative;
  display: block;
  text-align: center;
  margin-top: 514px;
  padding-bottom: 15px;

  &::after {
    @include pseudo();
    @include size(127px, 3px);
    background-color: $gold;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .directions__item:last-child & {
    margin-left: 47px;
  }
}
