.footer__nav-link {
  font-family: $roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px; //1.2
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $dark;
}

.footer__bottom {
  font-family: $roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $small;
}
