.header {
  background-image: linear-gradient(180deg, $header-gradient 0%, rgba($header-gradient-dark, 0) 34.54%),
  linear-gradient(0deg, rgba($header-gradient-dark, 0.6), rgba($header-gradient-dark, 0.6)),
  url("../img/img-slider-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $header-color;
  font-family: $roboto;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  background-clip: content-box;
  padding-bottom: 50px;

  &--two {
    background-image: linear-gradient(180deg, $header-gradient 0%, rgba($header-gradient-dark, 0) 34.54%),
    linear-gradient(0deg, rgba($header-gradient-dark, 0.6), rgba($header-gradient-dark, 0.6)),
    url("../img/img-slider-2.jpg");
  }

  &--three {
    background-image: linear-gradient(180deg, $header-gradient 0%, rgba($header-gradient-dark, 0) 34.54%),
    linear-gradient(0deg, rgba($header-gradient-dark, 0.6), rgba($header-gradient-dark, 0.6)),
    url("../img/img-slider-3.jpg");
  }

  &--four {
    background-image: linear-gradient(180deg, $header-gradient 0%, rgba($header-gradient-dark, 0) 34.54%),
    linear-gradient(0deg, rgba($header-gradient-dark, 0.6), rgba($header-gradient-dark, 0.6)),
    url("../img/img-slider-4.jpg");
  }

  &--five {
    background-image: linear-gradient(180deg, $header-gradient 0%, rgba($header-gradient-dark, 0) 34.54%),
    linear-gradient(0deg, rgba($header-gradient-dark, 0.6), rgba($header-gradient-dark, 0.6)),
    url("../img/img-slider-5.jpg");
  }
}

.header__container-top {
  padding-top: 53px;

  @media (max-width: $medium) {
    padding-top: 11px;
  }
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 21px;
  position: relative;

  @media (max-width: $medium) {
    .header--closed & {
      padding-bottom: 30px;

      &::after {
        @include pseudo();
        width: 100%;
        height: 1px;
        background-color: rgba($white, 0.15);
        bottom: 0;
      }
    }
  }
}

.header__logo {
  margin-right: 8.9%;
  padding-right: 10px;
  align-self: flex-start;
  padding-bottom: 10px;

  @media (max-width: $medium) {
    margin: 0;
    padding-right: 0;
    padding-bottom: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
}

.header__logo svg {
  fill: $header-icon;

  @media (max-width: $medium) {
    width: 183px;
    height: 19px;
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2px;
  flex: 1 1 auto;

  @media (max-width: $large) {
    flex-wrap: nowrap;
  }

  @media (max-width: $medium) {
    display: block;
    position: relative;
    margin-top: 0;
  }
}

.header__nav-toggle {
  display: none;
  border: 0;

  @media (max-width: $medium) {
    .header--closed & {
      display: block;
      position: absolute;
      font-size: 0;
      width: 29px;
      height: 20px;
      bottom: 0;
      padding: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex: 1 1 auto;
  max-width: 868px;

  @media (max-width: $large) {
    justify-content: flex-start;
  }

  @media (max-width: $medium) {
    .header--closed & {
      display: none;
    }
  }
}


.header__nav-item {
  list-style: none;
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }
}

.header__nav-link {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: inherit;

  @media (max-width: $medium) {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.55422px;
  }
}

.header__tel {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $white;
  margin-right: 30px;
  margin-left: auto;
  padding-left: 10px;

  @media (max-width: $large) {
    align-self: flex-start;
  }
  @media (max-width: $medium) {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.header__tel-svg {
  display: none;

  @media (max-width: $large) {
    display: block;
    fill: $header-icon;
  }
}

.header__tel-number {
  @media (max-width: $large) {
    display: none;
  }
}

.header__nav-bottom {
  display: none;
}

.header__slider-btn-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.header__slider-btn {
  display: block;
  width: 59px;
  height: 3px;
  background-color: rgba($gold, 0.31);
  border: 0;
  padding: 0;
  margin-right: 18px;

  &:nth-last-of-type(1) {
    margin-right: 0;
  }
}
