.partners {
  padding-top: 87px;
  padding-bottom: 89px;

  @media (max-width: $medium) {
    padding-top: 60px;
  }

  @media (max-width: $small) {
    padding-top: 46px;
    padding-bottom: 71px;
  }

  img {
    object-fit: contain;
  }
}

.partners__heading {
  margin-top: 0;
  margin-bottom: 70px;

  @media (max-width: $medium) {
    margin-bottom: 58px;
  }

  @media (max-width: $small) {
    margin-bottom: 45px;
  }
}

.partners__slider {
  margin: 0;
  position: relative;
  display: block;
  padding: 13px 33px 10px;

  @media (max-width: $small) {
    padding: 10px 33px 0;
  }
}


.partners__slider .slick-list {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;

  & .dragging {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.partners__slider .slick-track {
  display: flex;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.partners__item {
  list-style: none;
  padding: 0 20px;
}

.partners__slider .slick-slide {
  &:hover,
  &:focus {
    outline: none;
    transition: transform 300ms ease-in 100ms;
    transform: scale(1.1);
  }
}

.partners__link {
  &:focus {
    outline: none;
  }
}

.partners__img {
  filter: grayscale(1);
}

.partners__slider .slick-slide img {
  display: block;
  margin: 0 auto;
}

.partners__slider .slick-arrow {
  width: 30px;
  height: 50px;
  position: absolute;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/slider-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 4%;
  padding: 0;
  border: 0;
  z-index: 2;
  transition: all 300ms;

  &:hover,
  &:focus {
    background-image: url("../img/slider-arrow-active.svg");
    outline: none;
    transform: scale(1.2);
  }

  @media (max-width: $large) {
    @include size(27px, 40px);
    top: 50%;
    transform: translateY(-50%);
    background-position: center;
    background-size: cover;

    &:hover,
    &:focus {
      transform: scale(1.2) translateY(-50%);
    }
  }

  @media (max-width: $small) {
    width: 20px;
    height: 21px;
  }
}

.partners__slider .slick-prev {
  left: 0;
}

.partners__slider .slick-next {
  right: 0;
  transform: rotate(180deg);

  &:hover,
  &:focus {
    transform: rotate(180deg) scale(1.2);
  }

  @media (max-width: $large) {
    transform: rotate(180deg) translateY(50%);

    &:hover,
    &:focus {
      transform: rotate(180deg) scale(1.2) translateY(50%);
    }
  }

}
