.portfolio {
  padding-top: 100px;
  padding-bottom: 104px;

  @media (max-width: $large) {
    padding-top: 80px;
    padding-bottom: 84px;
  }

  @media (max-width: $medium) {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  @media (max-width: $small) {
    padding-top: 48px;
    padding-bottom: 46px;
  }
}

.portfolio__heading {
  margin-top: 0;
  margin-left: 50px;
  margin-bottom: 63px;

  @media (max-width: $medium) {
    margin-left: 0;
  }

  @media (max-width: $medium) {
    margin-bottom: 40px;
  }

  @media (max-width: $small) {
    margin-bottom: 32px;
  }
}

.portfolio__slider {
  margin: 0;
  padding: 0;
  max-height: 895px;
  position: relative;
  display: block;
}

.portfolio__slider .slick-list {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;

  & .dragging {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.portfolio__slider .slick-track {
  display: flex;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  overflow: hidden;
}

.portfolio__item {
  list-style: none;
  max-width: 68.54%;
  padding: 0 0.5%;

  @media (max-width: $medium) {
    padding: 0 20px;
  }
}

.portfolio__slider .slick-slide {
  &:focus {
    outline: none;
  }
}

.portfolio__slider .slick-slide img {
  display: block;
  margin: 0 auto;
  opacity: 0.5;

  @media (max-width: $medium) {
    opacity: 1;
  }
}

.portfolio__slider .slick-center img {
  opacity: 1;
}

.portfolio__img-container {
  margin-bottom: 34px;

  @media (max-width: $small) {
    margin-bottom: 6px;
  }
}

.portfolio__desc-container {
  @media (max-width: $small) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.portfolio__desc {
  font-family: $pt;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px; //1.2
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $dark;
  margin-top: 0;
  margin-bottom: 11px;

  @media (max-width: $large) {
    font-size: 11px;
    line-height: 14px;
  }

  @media (max-width: $medium) {
    font-size: 10px;
    line-height: 12px;
  }

  @media (max-width: $small) {
    margin-bottom: 0;
  }
}

.portfolio__size {
  font-family: $pt;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px; //1.2
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $bright-gold;
  margin-left: 10px;

  @media (max-width: $large) {
    font-size: 11px;
    line-height: 13px;
  }

  @media (max-width: $medium) {
    font-size: 10px;
    line-height: 12px;
  }
}

.portfolio__name {
  font-family: $cg;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: 2px;
  color: $dark;
  margin-top: 0;
  margin-bottom: 0;


  @media (max-width: $large) {
    font-size: 39px;
    line-height: 49px;
  }

  @media (max-width: $medium) {
    font-size: 30px;
    line-height: 36px;
  }

  @media (max-width: $small) {
    font-size: 24px;
    line-height: 29px;
    order: -1;
  }
}

.portfolio__slider .slick-arrow {
  width: 45px;
  height: 50px;
  position: absolute;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/slider-arrow.svg");
  background-size: 34px 43px;
  background-repeat: no-repeat;
  top: 41%;
  padding: 0;
  border: 0;
  z-index: 2;
  transition: all 300ms;

  &:hover,
  &:focus {
    background-image: url("../img/slider-arrow-active.svg");
    outline: none;
    transform: scale(1.2);
  }

  @media (max-width: $large) {
    @include size(38px, 45px);
    background-color: rgba($white, 0.5);
    background-position: center;
    background-size: 30px 35px;
  }

  @media (max-width: $small) {
    width: 35px;
    height: 34px;
    top: 29%;
  }
}

.portfolio__slider .slick-prev {
  left: 12%;

  @media (max-width: $large) {
    left: 10.6%;
  }

  @media (max-width: $medium) {
    left: 20px;
  }
}

.portfolio__slider .slick-next {
  right: 12%;
  transform: rotate(180deg);

  &:hover,
  &:focus {
    transform: rotate(180deg) scale(1.2);
  }

  @media (max-width: $large) {
    right: 10.6%;
  }

  @media (max-width: $medium) {
    right: 20px;
  }
}
