.promo {
  padding-bottom: 310px;
  padding-top: 165px;

  @media (max-width: $large) {
    padding-bottom: 230px;
    padding-top: 130px;
  }


  @media (max-width: $medium) {
    .header--open & {
      display: none;
    }
    .header--closed & {
      padding-top: 175px;
    }
    .header--no-js & {
      background-image: linear-gradient(180deg, $header-gradient 0%, rgba($header-gradient-dark, 0) 34.54%),
      linear-gradient(0deg, rgba($header-gradient-dark, 0.6), rgba($header-gradient-dark, 0.6)),
      url("../img/header-slider-1.jpg");
      padding-bottom: 200px;
    }
  }

  @media (max-width: $small) {
    padding-bottom: 278px;
  }

  .header--no-js &{
    padding-bottom: 200px;
  }
}

.promo__slogan {
  font-family: $roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: $white;
  text-shadow: 0 4px 10px rgba($black, 0.5);
  text-align: center;
  margin-bottom: 47px;
  margin-top: 0;

  @media (max-width: $large) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $medium) {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 38px;
  }
}

.promo__heading {
  font-family: $cg;
  font-style: normal;
  font-weight: 600;
  font-size: 50.9091px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 12px;
  text-transform: uppercase;
  color: $header-heading;
  margin-top: 0;
  margin-left: 25px;
  position: relative;

  &--top {
    margin-bottom: 18px;
    padding-bottom: 30px;

    &::after {
      @include pseudo();
      width: 99px;
      height: 1px;
      background-color: $gold;
      bottom: 0;
      left: 50%;
      transform: translateX(-64%);
    }
  }
  &--bottom{
    margin-bottom: 0;
  }

  @media (max-width: $large) {
    font-size: 48px;
    line-height: 60px;
  }

  @media (max-width: $medium) {
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 1.5px;
    margin-left: 14px;
  }
}
