$pt: "PT Sans", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;
$cg: "Cormorant Garamond", "Georgia", serif;

//size
$small: 420px;
$medium: 768px;
$large: 1440px;

$s-end: 767px;
$m-end: 1023px;
$l-end: 1920px;

//colors
$white: #ffffff;
$black: #000000;
