$pt: "PT Sans", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;
$cg: "Cormorant Garamond", "Georgia", serif;

//size

$giant: 1920px;
$large: 1280px;
$medium: 768px;
$small: 420px;
/*
my breakpoints
1920
1280
768
420
*/
//colors
$white: #ffffff;
$bright-gold: #bf9c62;
$pale-gold: #c4b192;
$pure-gold: #8f6b2d;
$gold: #ccbb9e;
$small: #7f8184;
$bright-gray: #edece7;
$light-gray: #dddcd7;
$line: rgba(0, 0, 0, 0.14);
$puce: #818181;
$gray: #8b8581;
$dark-dray: #5f5d65;
$brown-gray: #4b4a50;
$graphite: #4b4a50;
$text: #3e3d3c;
$dark: #131217;
$black: #000000;
