$pt: "PT Sans", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;
$cg: "Cormorant Garamond", "Georgia", serif;

//size
$small: 420px;
$medium: 768px;
$large: 1440px;

$s-end: 767px;
$m-end: 1023px;
$l-end: 1920px;

//colors
$white: #ffffff;
$bright-gold: #bf9c62;
$pure-gold: #8f6b2d;
$gold: #ccbb9e;
$small: #7f8184;
$puce  : #818181;
$gray: #8b8581;
$dark-dray: #5f5d65;
$brown-gray: #4b4a50;
$text: #3e3d3c;
$dark: #131217;
$black: #000000;
